<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="webtoshoConnectionString" value="DefaultEndpointsProtocol=https;AccountName=webtosho;AccountKey=McvhY9rd+r5AeRgp/M6mlgoLDERNO7lHphO/NUJQlLdtPxMm8xduvUln7IzedoAhz3EXmP2wdBkc1Y9QeBxz4A==" />
        <add key="LocalConnectionString" value="UseDevelopmentStorage=true" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>